# Limpieza de archivos

In [1]:
import pandas as pd
import os

In [2]:
dfs = {}

dfs["df1"] = pd.read_csv(os.path.join('data','artificial-intelligence-granted-patents-by-industry.csv'))
dfs["df2"] = pd.read_csv(os.path.join('data','corporate-investment-in-artificial-intelligence-by-type.csv'))
dfs["df3"] = pd.read_csv(os.path.join('data','newly-funded-artificial-intelligence-companies.csv'))
dfs["df4"] = pd.read_csv(os.path.join('data','IA_impact_on_jobs.csv'))
dfs["df5"] = pd.read_excel(os.path.join('data','tech_layoffs.xlsx'))

# Codigos para confirmar limpiezas

In [3]:
# informaci√≥n
[[print(f"{i}:\n"), print(f"{j.info()}\n\n")] for i,j in dfs.items()]
# print retorna None es normal

df1:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 13 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Entity                                                                  352 non-null    object
 1   Code                                                                    352 non-null    object
 2   Year                                                                    352 non-null    int64
 3   Patent applications granted - Field: Banking and finance                352 non-null    int64
 4   Patent applications granted - Field: Industry and manufacturing         352 non-null    int64
 5   Patent applications granted - Field: Energy management                  352 non-null    int64
 6   Patent applications granted - Field: Physical sciences and engineering  352 non-null    int64
 7   Patent applications granted - Field: Security                           352 non-null    int64
 8   Patent applications granted - Field: Life sciences                      352 non-null    int64
 9   Patent applications granted - Field: Transportation                     352 non-null    int64
 10  Patent applications granted - Field: Business                           352 non-null    int64
 11  Patent applications granted - Field: Telecommunications                 352 non-null    int64
 12  Patent applications granted - Field: Personal devices and computing     352 non-null    int64
dtypes: int64(11), object(2)
memory usage: 35.9+ KB
None


df2:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Entity                             55 non-null     object
 1   Code                               0 non-null      float64
 2   Year                               55 non-null     int64
 3   Global corporate investment in AI  55 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.8+ KB
None


df3:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Entity                      44 non-null     object
 1   Code                        33 non-null     object
 2   Year                        44 non-null     int64
 3   Newly founded AI companies  44 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.5+ KB
None


df4:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4706 entries, 0 to 4705
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job titiles        4706 non-null   object
 1   AI Impact          4706 non-null   object
 2   Tasks              4706 non-null   int64
 3   AI models          4706 non-null   int64
 4   AI_Workload_Ratio  4706 non-null   float64
 5   Domain             4706 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 220.7+ KB
None


df5:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672 entries, 0 to 1671
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   #                            1672 non-null   int64
 1   Company                      1672 non-null   object
 2   Location_HQ                  1672 non-null   object
 3   Country                      1672 non-null   object
 4   Continent                    1672 non-null   object
 5   Laid_Off                     1565 non-null   float64
 6   Date_layoffs                 1672 non-null   datetime64[ns]
 7   Percentage                   1570 non-null   float64
 8   Company_Size_before_Layoffs  1511 non-null   float64
 9   Company_Size_after_layoffs   1536 non-null   float64
 10  Industry                     1672 non-null   object
 11  Stage                        1672 non-null   object
 12  Money_Raised_in_$_mil        1596 non-null   object
 13  Year                         1672 non-null   int64
 14  lat                          1672 non-null   float64
 15  lng                          1672 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(7)
memory usage: 209.1+ KB
None

[[None, None], [None, None], [None, None], [None, None], [None, None]]

In [4]:
# duplicados
[[print(f"{i}:"), print(f"{len(j[j.duplicated(keep=False)])}\n")] for i,j in dfs.items()]
# Lo mismo para este None

df1:
0

df2:
0

df3:
0

df4:
0

df5:
0

[[None, None], [None, None], [None, None], [None, None], [None, None]]

In [5]:
# La limpieza clave que se hizo

In [6]:
dfs["df2"].drop(columns="Code", inplace=True)

In [7]:
dfs["df2"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Entity                             55 non-null     object
 1   Year                               55 non-null     int64
 2   Global corporate investment in AI  55 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.4+ KB

In [8]:
# Cargar el archivo Excel
# file_path = os.path.join('data','isoc_eb_ai$defaultview_spreadsheet.xlsx')
# excel_file = pd.ExcelFile(file_path)

# Obtener los nombres de las hojas
# print(excel_file.sheet_names)

In [9]:
# El dataset Europeo

In [10]:
#df = pd.read_excel(file_path, sheet_name='Nombre_de_la_hoja')

# Para el dataset europeo
df6 = pd.read_excel('data/isoc_eb_ai$defaultview_spreadsheet.xlsx', sheet_name='Sheet 1')

C:\Users\agusp\Lib\site-packages\openpyxl\styles\stylesheet.py:241: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [11]:
df6

,Data extracted on 09/10/2024 03:00:35 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Dataset:,Artificial intelligence by size class of enter...,NaN,NaN,NaN
1,Last updated:,24/09/2024 11:00,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Annual,NaN,NaN
4,Size classes in number of persons employed,NaN,From 10 to 49 persons employed,NaN,NaN
5,Statistical classification of economic activit...,NaN,"All activities (except agriculture, forestry a...",NaN,NaN
6,Information society indicator,NaN,Enterprises use at least one of the AI technol...,NaN,NaN
7,Unit of measure,NaN,Percentage of enterprises,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
9,TIME,2021,NaN,2023,NaN
10,GEO (Labels),NaN,NaN,NaN,NaN
11,European Union - 27 countries (from 2020),6.1,NaN,6.4,NaN
12,"Euro area (EA11-1999, EA12-2001, EA13-2007, EA...",6.7,NaN,7.1,NaN
13,Belgium,8,NaN,10.6,NaN
14,Bulgaria,2.6,NaN,3,NaN
15,Czechia,2.7,NaN,4,NaN
16,Denmark,19.7,NaN,12.4,NaN
17,Germany,8.9,NaN,9.7,NaN
18,Estonia,1.8,NaN,4.1,NaN
19,Ireland,6.1,NaN,5.3,NaN
20,Greece,2,NaN,3.5,NaN
21,Spain,6.1,NaN,6.4,NaN
22,France,5,NaN,4.7,b
23,Croatia,8.1,NaN,7,NaN
24,Italy,5.3,NaN,4.4,NaN
25,Cyprus,1.9,NaN,3.7,NaN
26,Latvia,2.8,NaN,3.5,NaN
27,Lithuania,3.2,NaN,3.4,NaN
28,Luxembourg,11.5,NaN,12.3,NaN
29,Hungary,2.5,NaN,3,NaN
30,Malta,8.3,NaN,10.8,NaN
31,Netherlands,10.1,NaN,11,NaN
32,Austria,7.1,NaN,8.9,NaN
33,Poland,1.9,NaN,2.2,NaN
34,Portugal,5.3,NaN,5.8,NaN
35,Romania,1.1,NaN,1.1,NaN
36,Slovenia,9.4,NaN,8.9,NaN
37,Slovakia,4.1,NaN,6,NaN
38,Finland,12.4,NaN,11.5,NaN
39,Sweden,7.6,NaN,8.7,b
40,Norway,8.9,NaN,7.1,NaN
41,Bosnia and Herzegovina,1.9,NaN,5.5,NaN
42,Montenegro,3.7,NaN,4.8,NaN
43,North Macedonia,:,c,:,NaN
44,Albania,2.9,NaN,:,NaN
45,Serbia,0.2,NaN,1.7,NaN
46,T√ºrkiye,2.3,NaN,4.9,NaN
47,NaN,NaN,NaN,NaN,NaN
48,Special value,NaN,NaN,NaN,NaN
49,:,not available,NaN,NaN,NaN
50,Available flags:,NaN,NaN,NaN,NaN
51,b,break in time series,NaN,NaN,NaN
52,c,confidential,NaN,NaN,NaN

# An√°lisis de Roles Jer√°rquicos y Automatizaci√≥n por IA

## Contexto
Este notebook contin√∫a el an√°lisis del proyecto iniciado en `limpieza.ipynb`. 
Los datos utilizados ya han sido limpiados y procesados seg√∫n los criterios 
establecidos en el notebook de limpieza.

## Datos Utilizados
- `IA_impact_on_jobs.csv`: Impacto de IA en diferentes roles laborales
- `artificial-intelligence-granted-patents-by-industry.csv`: Patentes por sector
- agregar los que faltan

## Objetivo
Responder a la pregunta: "¬øPor qu√© ciertos roles o niveles jer√°rquicos dentro 
de las organizaciones parecen ser m√°s susceptibles a la automatizaci√≥n por IA, 
y c√≥mo esto est√° reconfigurando la estructura organizacional de las empresas?"

## Lo que se realizar√°
Este notebook analiza por qu√© ciertos roles jer√°rquicos son m√°s susceptibles 
a la automatizaci√≥n por IA y c√≥mo esto reconfigura la estructura organizacional.

In [12]:
# Importaciones
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# Datos ordenados
# Dataset 1: Impacto de IA en trabajos
df_impact = pd.read_csv('data/IA_impact_on_jobs.csv')

# Dataset 2: Patentes de IA por sector
df_patents = pd.read_csv('data/artificial-intelligence-granted-patents-by-industry.csv')

# Dataset 3: Inversi√≥n corporativa en IA
df_investment = pd.read_csv('data/corporate-investment-in-artificial-intelligence-by-type.csv')

# Dataset 4: Nuevas empresas de IA
df_companies = pd.read_csv('data/newly-funded-artificial-intelligence-companies.csv')

# Dataset 5: Despidos tecnol√≥gicos
df_layoffs = pd.read_excel('data/tech_layoffs.xlsx')

# Dataset 6: Datos de empresas europeas
df_eu = pd.read_excel('data/isoc_eb_ai$defaultview_spreadsheet.xlsx', sheet_name='Sheet 1')

C:\Users\agusp\Lib\site-packages\openpyxl\styles\stylesheet.py:241: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [14]:
# Verificaci√≥n inicial de datos
for name, df in {
    'Impacto IA': df_impact,
    'Patentes': df_patents,
    'Inversi√≥n': df_investment,
    'Empresas': df_companies,
    'Despidos': df_layoffs,
    'Europa': df_eu
}.items():
    print(f"\nDataset: {name}")
    print(f"Dimensiones: {df.shape}")
    print("Columnas:", df.columns.tolist())

# Forma ordenada de ver verificaci√≥n, intent√© copiarle la forma a la flo y algo de ia :D

Dataset: Impacto IA
Dimensiones: (4706, 6)
Columnas: ['Job titiles', 'AI Impact', 'Tasks', 'AI models', 'AI_Workload_Ratio', 'Domain']

Dataset: Patentes
Dimensiones: (352, 13)
Columnas: ['Entity', 'Code', 'Year', 'Patent applications granted - Field: Banking and finance', 'Patent applications granted - Field: Industry and manufacturing', 'Patent applications granted - Field: Energy management', 'Patent applications granted - Field: Physical sciences and engineering', 'Patent applications granted - Field: Security', 'Patent applications granted - Field: Life sciences', 'Patent applications granted - Field: Transportation', 'Patent applications granted - Field: Business', 'Patent applications granted - Field: Telecommunications', 'Patent applications granted - Field: Personal devices and computing']

Dataset: Inversi√≥n
Dimensiones: (55, 4)
Columnas: ['Entity', 'Code', 'Year', 'Global corporate investment in AI']

Dataset: Empresas
Dimensiones: (44, 4)
Columnas: ['Entity', 'Code', 'Year', 'Newly founded AI companies']

Dataset: Despidos
Dimensiones: (1672, 16)
Columnas: ['#', 'Company', 'Location_HQ', 'Country', 'Continent', 'Laid_Off', 'Date_layoffs', 'Percentage', 'Company_Size_before_Layoffs', 'Company_Size_after_layoffs', 'Industry', 'Stage', 'Money_Raised_in_$_mil', 'Year', 'lat', 'lng']

Dataset: Europa
Dimensiones: (53, 5)
Columnas: ['Data extracted on 09/10/2024 03:00:35 from [ESTAT]', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

In [15]:
print("An√°lisis para responder la pregunta de investigaci√≥n")

An√°lisis para responder la pregunta de investigaci√≥n

In [16]:
print("""
¬øPor qu√© ciertos roles o niveles jer√°rquicos dentro de las organizaciones parecen 
ser m√°s susceptibles a la automatizaci√≥n por IA, y c√≥mo esto est√° reconfigurando 
la estructura organizacional de las empresas?
""")

¬øPor qu√© ciertos roles o niveles jer√°rquicos dentro de las organizaciones parecen
ser m√°s susceptibles a la automatizaci√≥n por IA, y c√≥mo esto est√° reconfigurando
la estructura organizacional de las empresas?

## 1.1 An√°lisis por dominio y nivel jer√°rquico

In [18]:
print("\nAn√°lisis de impacto por dominio:")
domain_analysis = dfs["df4"].groupby('Domain').agg({
    'AI_Workload_Ratio': 'mean',
    'AI models': 'mean',
    'Tasks': 'mean'
}).sort_values('AI_Workload_Ratio', ascending=False)

domain_analysis

An√°lisis de impacto por dominio:

                           AI_Workload_Ratio    AI models       Tasks
Domain
Administrative & Clerical                inf  1808.208068  395.673036
Construction                             inf  1849.408511  410.734043
Supply Chain & Logistics                 inf  1786.021231  393.356688
Data & IT                                inf  1814.462845  392.452229
Law Enforcement                          inf  1778.427660  401.202128
Medical & Healthcare                     inf  1760.847134  386.643312
Sales & Marketing                   0.207530  1855.704255  412.740426
Leadership & Strategy               0.204877  1817.467091  398.779193
Hospitality                         0.204731  1869.451064  416.682979
Communication & PR                  0.200423  1836.957537  398.898089

In [23]:
# Identificar roles m√°s susceptibles por dominio
high_impact_roles = dfs["df4"].nlargest(10, 'AI_Workload_Ratio')[['Job titiles', 'Domain', 'AI_Workload_Ratio', 'AI models']]
print("\nRoles m√°s susceptibles a automatizaci√≥n:")
high_impact_roles

Roles m√°s susceptibles a automatizaci√≥n:

,Job titiles,Domain,AI_Workload_Ratio,AI models
3034,Charter Pilot,Medical & Healthcare,inf,0
3035,Commercial Pilot,Supply Chain & Logistics,inf,0
3036,Conductor,Law Enforcement,inf,0
3037,Corporate Pilot,Construction,inf,0
3184,Dog Groomer,Medical & Healthcare,inf,0
3211,Constable,Data & IT,inf,0
3322,Crossing Guard,Administrative & Clerical,inf,0
3058,After School Teacher,Sales & Marketing,1.000000,1
3185,Dog Trainer,Supply Chain & Logistics,0.833333,6
186,Flooring Installer,Law Enforcement,0.500000,2

## 1.2 An√°lisis de susceptibilidad a la automatizaci√≥n

In [25]:
# Correlaci√≥n entre variables de impacto
correlation_matrix = dfs["df4"][['AI_Workload_Ratio', 'Tasks', 'AI models']].corr()
print("\nCorrelaci√≥n entre factores de automatizaci√≥n:")
correlation_matrix

Correlaci√≥n entre factores de automatizaci√≥n:

                   AI_Workload_Ratio     Tasks  AI models
AI_Workload_Ratio           1.000000  0.631305   0.346893
Tasks                       0.631305  1.000000   0.928350
AI models                   0.346893  0.928350   1.000000

## 1.3 An√°lisis de patrones en despidos tecnol√≥gicos

In [28]:
# Usando df5 (tech_layoffs.xlsx)
layoffs_by_industry = dfs["df5"].groupby('Industry').agg({
    'Laid_Off': 'sum',
    'Company_Size_before_Layoffs': 'mean',
    'Percentage': 'mean'
}).sort_values('Laid_Off', ascending=False)

print("\nPatrones de despidos por industria:")
layoffs_by_industry

Patrones de despidos por industria:

                Laid_Off  Company_Size_before_Layoffs  Percentage
Industry
Retail           59454.0                 13043.192308   23.746924
Consumer         57446.0                  6732.486486   25.139265
Other            49343.0                  8344.000000   17.767442
Transportation   35649.0                  3211.673913   20.228982
Finance          32815.0                  1170.223810   21.709091
Food             32772.0                  2696.090909   27.139529
Hardware         16861.0                 26467.222222   12.555556
Real Estate      15181.0                  1722.263158   27.632610
Healthcare       14545.0                   872.405405   28.131579
Sales            14331.0                 11457.100000   12.935484
Travel           12513.0                  2020.243902   30.309524
Crypto           10476.0                   916.036364   21.928571
Education         8484.0                  2207.129630   28.148148
Fitness           8448.0                  2450.588235   23.764706
Marketing         7531.0                   762.534884   19.247191
Security          7412.0                  1323.315789   13.762712
Media             6653.0                  1904.156863   18.472727
Infrastructure    5835.0                  5110.150000   23.650000
Data              5535.0                  1258.104167   22.707483
HR                5392.0                  1290.179487   23.878049
Infrastruc‚Ä¶       5330.0                 31377.666667   31.750000
Logistics         4545.0                  1053.250000   20.971429
Recruiting        4342.0                  2623.320000   18.560000
Construction      3703.0                  2184.222222   29.333333
Support           2409.0                  1636.136364   20.454545
Transport‚Ä¶        2363.0                   964.142857   44.000000
Energy            2137.0                  1534.000000   23.923077
Product           1501.0                   442.863636   25.000000
Manufacturing      790.0                  3596.333333   10.000000
Aerospace          783.0                   452.200000   49.000000
Legal              656.0                   841.000000   15.000000
Manufact‚Ä¶          272.0                          NaN   12.000000
AI                 170.0                   425.000000   20.000000
Construct‚Ä¶           0.0                          NaN    4.000000

## 1.4 Correlaci√≥n con inversi√≥n en IA

In [30]:
# Usando df2 (corporate-investment-in-artificial-intelligence-by-type.csv)
investment_trend = dfs["df2"].groupby('Year')['Global corporate investment in AI'].mean()
print("\nTendencia de inversi√≥n en IA por a√±o:")
print(investment_trend)

Tendencia de inversi√≥n en IA por a√±o:
Year
2013    6.778981e+09
2014    8.717324e+09
2015    1.162914e+10
2016    1.527321e+10
2017    2.375411e+10
2018    3.436722e+10
2019    4.378210e+10
2020    8.480107e+10
2021    1.349600e+11
2022    8.701627e+10
2023    6.728766e+10
Name: Global corporate investment in AI, dtype: float64

## 1.5. Conclusiones