In [33]:
dfs = {}
dfs["i"]="h"
print(dfs)

{'i': 'h'}

In [39]:
import pandas as pd
import os

dfs = {}

dfs["df1"] = pd.read_csv(os.path.join('data','artificial-intelligence-granted-patents-by-industry.csv'))
dfs["df2"] = pd.read_csv(os.path.join('data','corporate-investment-in-artificial-intelligence-by-type.csv'))
dfs["df3"] = pd.read_csv (os.path.join('data','newly-funded-artificial-intelligence-companies.csv'))
dfs["df4"] = pd.read_csv(os.path.join('data','IA_impact_on_jobs.csv'))

In [40]:
dfs["df5"] = pd.read_excel(os.path.join('data','tech_layoffs.xlsx'))

In [64]:
#informaci√≥n
[[print(f"{i}:\n"), print(f"{j.info()}\n\n")] for i,j in dfs.items()]

df1:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 13 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Entity                                                                  352 non-null    object
 1   Code                                                                    352 non-null    object
 2   Year                                                                    352 non-null    int64
 3   Patent applications granted - Field: Banking and finance                352 non-null    int64
 4   Patent applications granted - Field: Industry and manufacturing         352 non-null    int64
 5   Patent applications granted - Field: Energy management                  352 non-null    int64
 6   Patent applications granted - Field: Physical sciences and engineering  352 non-null    int64
 7   Patent applications granted - Field: Security                           352 non-null    int64
 8   Patent applications granted - Field: Life sciences                      352 non-null    int64
 9   Patent applications granted - Field: Transportation                     352 non-null    int64
 10  Patent applications granted - Field: Business                           352 non-null    int64
 11  Patent applications granted - Field: Telecommunications                 352 non-null    int64
 12  Patent applications granted - Field: Personal devices and computing     352 non-null    int64
dtypes: int64(11), object(2)
memory usage: 35.9+ KB
None


df2:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Entity                             55 non-null     object
 1   Code                               0 non-null      float64
 2   Year                               55 non-null     int64
 3   Global corporate investment in AI  55 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.8+ KB
None


df3:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Entity                      44 non-null     object
 1   Code                        33 non-null     object
 2   Year                        44 non-null     int64
 3   Newly founded AI companies  44 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.5+ KB
None


df4:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4706 entries, 0 to 4705
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job titiles        4706 non-null   object
 1   AI Impact          4706 non-null   object
 2   Tasks              4706 non-null   int64
 3   AI models          4706 non-null   int64
 4   AI_Workload_Ratio  4706 non-null   float64
 5   Domain             4706 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 220.7+ KB
None


df5:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672 entries, 0 to 1671
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   #                            1672 non-null   int64
 1   Company                      1672 non-null   object
 2   Location_HQ                  1672 non-null   object
 3   Country                      1672 non-null   object
 4   Continent                    1672 non-null   object
 5   Laid_Off                     1565 non-null   float64
 6   Date_layoffs                 1672 non-null   datetime64[ns]
 7   Percentage                   1570 non-null   float64
 8   Company_Size_before_Layoffs  1511 non-null   float64
 9   Company_Size_after_layoffs   1536 non-null   float64
 10  Industry                     1672 non-null   object
 11  Stage                        1672 non-null   object
 12  Money_Raised_in_$_mil        1596 non-null   object
 13  Year                         1672 non-null   int64
 14  lat                          1672 non-null   float64
 15  lng                          1672 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(7)
memory usage: 209.1+ KB
None

[[None, None], [None, None], [None, None], [None, None], [None, None]]

In [78]:
#duplicados
[[print(f"{i}:"), print(f"{len(j[j.duplicated(keep=False)])}\n")] for i,j in dfs.items()]

df1:
0

df2:
0

df3:
0

df4:
0

df5:
0

[[None, None], [None, None], [None, None], [None, None], [None, None]]

In [65]:
dfs["df2"].drop(columns="Code", inplace=True)

In [66]:
dfs["df2"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Entity                             55 non-null     object
 1   Year                               55 non-null     int64
 2   Global corporate investment in AI  55 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.4+ KB

In [14]:
# Cargar el archivo Excel
file_path = os.path.join('data','isoc_eb_ai$defaultview_spreadsheet.xlsx')
excel_file = pd.ExcelFile(file_path)

# Obtener los nombres de las hojas
print(excel_file.sheet_names)

['Summary', 'Structure', 'Sheet 1', 'Sheet 2', 'Sheet 3', 'Sheet 4', 'Sheet 5', 'Sheet 6', 'Sheet 7', 'Sheet 8', 'Sheet 9', 'Sheet 10', 'Sheet 11', 'Sheet 12', 'Sheet 13', 'Sheet 14', 'Sheet 15', 'Sheet 16', 'Sheet 17', 'Sheet 18', 'Sheet 19', 'Sheet 20']

C:\Users\flore\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [16]:
#df = pd.read_excel(file_path, sheet_name='Nombre_de_la_hoja')

df6 = pd.read_excel(file_path, sheet_name=excel_file.sheet_names[2])

In [22]:
df6

,Data extracted on 09/10/2024 03:00:35 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Dataset:,Artificial intelligence by size class of enter...,NaN,NaN,NaN
1,Last updated:,24/09/2024 11:00,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Annual,NaN,NaN
4,Size classes in number of persons employed,NaN,From 10 to 49 persons employed,NaN,NaN
5,Statistical classification of economic activit...,NaN,"All activities (except agriculture, forestry a...",NaN,NaN
6,Information society indicator,NaN,Enterprises use at least one of the AI technol...,NaN,NaN
7,Unit of measure,NaN,Percentage of enterprises,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
9,TIME,2021,NaN,2023,NaN
10,GEO (Labels),NaN,NaN,NaN,NaN
11,European Union - 27 countries (from 2020),6.1,NaN,6.4,NaN
12,"Euro area (EA11-1999, EA12-2001, EA13-2007, EA...",6.7,NaN,7.1,NaN
13,Belgium,8,NaN,10.6,NaN
14,Bulgaria,2.6,NaN,3,NaN
15,Czechia,2.7,NaN,4,NaN
16,Denmark,19.7,NaN,12.4,NaN
17,Germany,8.9,NaN,9.7,NaN
18,Estonia,1.8,NaN,4.1,NaN
19,Ireland,6.1,NaN,5.3,NaN
20,Greece,2,NaN,3.5,NaN
21,Spain,6.1,NaN,6.4,NaN
22,France,5,NaN,4.7,b
23,Croatia,8.1,NaN,7,NaN
24,Italy,5.3,NaN,4.4,NaN
25,Cyprus,1.9,NaN,3.7,NaN
26,Latvia,2.8,NaN,3.5,NaN
27,Lithuania,3.2,NaN,3.4,NaN
28,Luxembourg,11.5,NaN,12.3,NaN
29,Hungary,2.5,NaN,3,NaN
30,Malta,8.3,NaN,10.8,NaN
31,Netherlands,10.1,NaN,11,NaN
32,Austria,7.1,NaN,8.9,NaN
33,Poland,1.9,NaN,2.2,NaN
34,Portugal,5.3,NaN,5.8,NaN
35,Romania,1.1,NaN,1.1,NaN
36,Slovenia,9.4,NaN,8.9,NaN
37,Slovakia,4.1,NaN,6,NaN
38,Finland,12.4,NaN,11.5,NaN
39,Sweden,7.6,NaN,8.7,b
40,Norway,8.9,NaN,7.1,NaN
41,Bosnia and Herzegovina,1.9,NaN,5.5,NaN
42,Montenegro,3.7,NaN,4.8,NaN
43,North Macedonia,:,c,:,NaN
44,Albania,2.9,NaN,:,NaN
45,Serbia,0.2,NaN,1.7,NaN
46,T√ºrkiye,2.3,NaN,4.9,NaN
47,NaN,NaN,NaN,NaN,NaN
48,Special value,NaN,NaN,NaN,NaN
49,:,not available,NaN,NaN,NaN
50,Available flags:,NaN,NaN,NaN,NaN
51,b,break in time series,NaN,NaN,NaN
52,c,confidential,NaN,NaN,NaN

In [21]:
print(df6["Unnamed: 3"][19])

5.3

In [21]:
df6["Data extracted on 09/10/2024 02:51:10 from [ESTAT]"]

0                                             Dataset:
1                                        Last updated:
2                                                   NaN
3                                        Time frequency
4            Size classes in number of persons employed
5     Statistical classification of economic activit...
6                         Information society indicator
7                                       Unit of measure
8                                                   NaN
9                                                  TIME
10                                         GEO (Labels)
11            European Union - 27 countries (from 2020)
12    Euro area (EA11-1999, EA12-2001, EA13-2007, EA...
13                                              Belgium
14                                             Bulgaria
15                                              Czechia
16                                              Denmark
17                                              Germany
18                                              Estonia
19                                              Ireland
20                                               Greece
21                                                Spain
22                                               France
23                                              Croatia
24                                                Italy
25                                               Cyprus
26                                               Latvia
27                                            Lithuania
28                                           Luxembourg
29                                              Hungary
30                                                Malta
31                                          Netherlands
32                                              Austria
33                                               Poland
34                                             Portugal
35                                              Romania
36                                             Slovenia
37                                             Slovakia
38                                              Finland
39                                               Sweden
40                                               Norway
41                               Bosnia and Herzegovina
42                                           Montenegro
43                                      North Macedonia
44                                              Albania
45                                               Serbia
46                                              T√ºrkiye
47                                                  NaN
48                                        Special value
49                                                    :
50                                     Available flags:
51                                                    b
52                                                    c
Name: Data extracted on 09/10/2024 02:51:10 from [ESTAT], dtype: object

In [22]:
df7 = pd.read_excel("isoc_eb_ai_page_spreadsheet.xlsx", sheet_name='Sheet 1')

C:\Users\flore\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [23]:
df7

,Data extracted on 09/10/2024 03:08:36 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Dataset:,Artificial intelligence by size class of enter...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last updated:,24/09/2024 11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Size classes in number of persons employed,NaN,10 persons employed or more,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Statistical classification of economic activit...,NaN,"All activities (except agriculture, forestry a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Information society indicator,NaN,Enterprises use at least one of the AI technol...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Unit of measure,NaN,Percentage of enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,TIME,2018,NaN,2020,NaN,2021,NaN,2022,NaN,2023,NaN
10,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,European Union - 27 countries (from 2020),:,NaN,:,NaN,7.6,NaN,:,NaN,8,NaN
12,European Union - 28 countries (2013-2020),:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
13,European Union - 27 countries (2007-2013),:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
14,European Union - 15 countries (1995-2004),:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
15,"Euro area (EA11-1999, EA12-2001, EA13-2007, EA...",:,NaN,:,NaN,8.4,NaN,:,NaN,8.8,NaN
16,Belgium,:,NaN,:,NaN,10.3,NaN,:,NaN,13.8,NaN
17,Bulgaria,:,NaN,:,NaN,3.3,NaN,:,NaN,3.6,NaN
18,Czechia,:,NaN,:,NaN,4.5,NaN,:,NaN,5.9,NaN
19,Denmark,:,NaN,:,NaN,23.9,NaN,:,NaN,15.2,NaN
20,Germany,:,NaN,:,NaN,10.6,NaN,:,NaN,11.6,NaN
21,Estonia,:,NaN,:,NaN,2.8,NaN,:,NaN,5.2,NaN
22,Ireland,:,NaN,:,NaN,7.9,NaN,:,NaN,8,NaN
23,Greece,:,NaN,:,NaN,2.6,NaN,:,NaN,4,NaN
24,Spain,:,NaN,:,NaN,7.7,NaN,:,NaN,9.2,NaN
25,France,:,NaN,:,NaN,6.7,NaN,:,NaN,5.9,b
26,Croatia,:,NaN,:,NaN,8.7,NaN,:,NaN,7.9,NaN
27,Italy,:,NaN,:,NaN,6.2,NaN,:,NaN,5,NaN
28,Cyprus,:,NaN,:,NaN,2.6,NaN,:,NaN,4.7,NaN
29,Latvia,:,NaN,:,NaN,3.7,NaN,:,NaN,4.5,NaN
30,Lithuania,:,NaN,:,NaN,4.5,NaN,:,NaN,4.9,NaN
31,Luxembourg,:,NaN,:,NaN,13,NaN,:,NaN,14.4,NaN
32,Hungary,:,NaN,:,NaN,3,NaN,:,NaN,3.7,NaN
33,Malta,:,NaN,:,NaN,10.2,NaN,:,NaN,13.2,NaN
34,Netherlands,:,NaN,:,NaN,13.1,NaN,:,NaN,13.4,NaN
35,Austria,:,NaN,:,NaN,8.8,NaN,:,NaN,10.8,NaN
36,Poland,:,NaN,:,NaN,2.9,NaN,:,NaN,3.7,NaN
37,Portugal,:,NaN,:,NaN,7.2,NaN,:,NaN,7.9,NaN
38,Romania,:,NaN,:,NaN,1.4,NaN,:,NaN,1.5,NaN
39,Slovenia,:,NaN,:,NaN,11.7,NaN,:,NaN,11.4,NaN
40,Slovakia,:,NaN,:,NaN,5.2,NaN,:,NaN,7,NaN
41,Finland,:,NaN,:,NaN,15.8,NaN,:,NaN,15.1,NaN
42,Sweden,:,NaN,:,NaN,9.9,NaN,:,NaN,10.4,b
43,Norway,:,NaN,:,NaN,10.8,NaN,:,NaN,9.2,NaN
44,United Kingdom,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
45,Bosnia and Herzegovina,:,NaN,:,NaN,2.1,NaN,:,NaN,5.3,NaN
46,Montenegro,:,NaN,:,NaN,3.3,NaN,:,NaN,5.6,NaN
47,North Macedonia,:,NaN,:,NaN,:,c,:,NaN,:,NaN
48,Albania,:,NaN,:,NaN,3.7,NaN,:,NaN,:,NaN
49,Serbia,:,NaN,:,NaN,0.9,NaN,:,NaN,1.8,NaN
50,T√ºrkiye,:,NaN,:,NaN,2.7,NaN,:,NaN,5.5,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Available flags:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,b,break in time series,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,c,confidential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN