In [1]:
import pandas as pd

df = pd.read_csv('artificial-intelligence-granted-patents-by-industry.csv')
df.head()

,Entity,Code,Year,Patent applications granted - Field: Banking and finance,Patent applications granted - Field: Industry and manufacturing,Patent applications granted - Field: Energy management,Patent applications granted - Field: Physical sciences and engineering,Patent applications granted - Field: Security,Patent applications granted - Field: Life sciences,Patent applications granted - Field: Transportation,Patent applications granted - Field: Business,Patent applications granted - Field: Telecommunications,Patent applications granted - Field: Personal devices and computing
0,Argentina,ARG,2013,0,0,0,0,0,0,0,0,0,0
1,Argentina,ARG,2017,0,0,1,1,0,0,0,1,0,0
2,Argentina,ARG,2018,0,1,0,3,0,1,0,3,0,4
3,Argentina,ARG,2019,0,0,0,2,0,1,0,0,1,0
4,Argentina,ARG,2020,0,0,0,0,0,0,0,0,1,0

In [2]:
len(df)

352

In [3]:
df.dtypes

Entity                                                                    object
Code                                                                      object
Year                                                                       int64
Patent applications granted - Field: Banking and finance                   int64
Patent applications granted - Field: Industry and manufacturing            int64
Patent applications granted - Field: Energy management                     int64
Patent applications granted - Field: Physical sciences and engineering     int64
Patent applications granted - Field: Security                              int64
Patent applications granted - Field: Life sciences                         int64
Patent applications granted - Field: Transportation                        int64
Patent applications granted - Field: Business                              int64
Patent applications granted - Field: Telecommunications                    int64
Patent applications granted - Field: Personal devices and computing        int64
dtype: object

In [4]:
df.shape

(352, 13)

In [5]:
df2 = pd.read_csv('corporate-investment-in-artificial-intelligence-by-type.csv')
df2.shape

(55, 4)

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Entity                             55 non-null     object
 1   Code                               0 non-null      float64
 2   Year                               55 non-null     int64
 3   Global corporate investment in AI  55 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.8+ KB

In [7]:
df2.dtypes

Entity                                object
Code                                 float64
Year                                   int64
Global corporate investment in AI      int64
dtype: object

In [8]:
df2.head()

                Entity  Code  Year  Global corporate investment in AI
0   Merger/acquisition   NaN  2013                         6885993015
1   Merger/acquisition   NaN  2014                         7657417878
2   Merger/acquisition   NaN  2015                        10117764887
3   Merger/acquisition   NaN  2016                        14733541676
4   Merger/acquisition   NaN  2017                        27282738436

In [9]:
df3 = pd.read_csv ('newly-funded-artificial-intelligence-companies.csv')
df3.shape

(44, 4)

In [10]:
df3.dtypes

Entity                        object
Code                          object
Year                           int64
Newly founded AI companies     int64
dtype: object

In [12]:
df4 = pd.read_csv('My_data.csv')
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4706 entries, 0 to 4705
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job titiles        4706 non-null   object
 1   AI Impact          4706 non-null   object
 2   Tasks              4706 non-null   int64
 3   AI models          4706 non-null   int64
 4   AI_Workload_Ratio  4706 non-null   float64
 5   Domain             4706 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 220.7+ KB

In [13]:
df4.columns

Index(['Job titiles', 'AI Impact', 'Tasks', 'AI models', 'AI_Workload_Ratio',
       'Domain'],
      dtype='object')

In [14]:
df4.shape

(4706, 6)

In [16]:
import pandas as pd

# Cargar el archivo Excel
file_path = 'isoc_eb_ai$defaultview_spreadsheet.xlsx'
excel_file = pd.ExcelFile(file_path)

# Obtener los nombres de las hojas
print(excel_file.sheet_names)

['Summary', 'Structure', 'Sheet 1', 'Sheet 2', 'Sheet 3', 'Sheet 4', 'Sheet 5', 'Sheet 6', 'Sheet 7', 'Sheet 8', 'Sheet 9', 'Sheet 10', 'Sheet 11', 'Sheet 12', 'Sheet 13', 'Sheet 14', 'Sheet 15', 'Sheet 16', 'Sheet 17', 'Sheet 18', 'Sheet 19', 'Sheet 20']

C:\Users\flore\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [17]:
#df = pd.read_excel(file_path, sheet_name='Nombre_de_la_hoja')

df6 = pd.read_excel("isoc_eb_ai_defaultview_spreadsheet.xlsx", sheet_name=excel_file.sheet_names[2])

In [20]:
print(df5["Unnamed: 5"][19])

KeyError: 'Unnamed: 5'

In [21]:
df6["Data extracted on 09/10/2024 02:51:10 from [ESTAT]"]

0                                             Dataset:
1                                        Last updated:
2                                                   NaN
3                                        Time frequency
4            Size classes in number of persons employed
5     Statistical classification of economic activit...
6                         Information society indicator
7                                       Unit of measure
8                                                   NaN
9                                                  TIME
10                                         GEO (Labels)
11            European Union - 27 countries (from 2020)
12    Euro area (EA11-1999, EA12-2001, EA13-2007, EA...
13                                              Belgium
14                                             Bulgaria
15                                              Czechia
16                                              Denmark
17                                              Germany
18                                              Estonia
19                                              Ireland
20                                               Greece
21                                                Spain
22                                               France
23                                              Croatia
24                                                Italy
25                                               Cyprus
26                                               Latvia
27                                            Lithuania
28                                           Luxembourg
29                                              Hungary
30                                                Malta
31                                          Netherlands
32                                              Austria
33                                               Poland
34                                             Portugal
35                                              Romania
36                                             Slovenia
37                                             Slovakia
38                                              Finland
39                                               Sweden
40                                               Norway
41                               Bosnia and Herzegovina
42                                           Montenegro
43                                      North Macedonia
44                                              Albania
45                                               Serbia
46                                              Türkiye
47                                                  NaN
48                                        Special value
49                                                    :
50                                     Available flags:
51                                                    b
52                                                    c
Name: Data extracted on 09/10/2024 02:51:10 from [ESTAT], dtype: object

In [22]:
df7 = pd.read_excel("isoc_eb_ai_page_spreadsheet.xlsx", sheet_name='Sheet 1')

C:\Users\flore\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [23]:
df7

,Data extracted on 09/10/2024 03:08:36 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Dataset:,Artificial intelligence by size class of enter...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last updated:,24/09/2024 11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Size classes in number of persons employed,NaN,10 persons employed or more,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Statistical classification of economic activit...,NaN,"All activities (except agriculture, forestry a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Information society indicator,NaN,Enterprises use at least one of the AI technol...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Unit of measure,NaN,Percentage of enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,TIME,2018,NaN,2020,NaN,2021,NaN,2022,NaN,2023,NaN
10,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,European Union - 27 countries (from 2020),:,NaN,:,NaN,7.6,NaN,:,NaN,8,NaN
12,European Union - 28 countries (2013-2020),:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
13,European Union - 27 countries (2007-2013),:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
14,European Union - 15 countries (1995-2004),:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
15,"Euro area (EA11-1999, EA12-2001, EA13-2007, EA...",:,NaN,:,NaN,8.4,NaN,:,NaN,8.8,NaN
16,Belgium,:,NaN,:,NaN,10.3,NaN,:,NaN,13.8,NaN
17,Bulgaria,:,NaN,:,NaN,3.3,NaN,:,NaN,3.6,NaN
18,Czechia,:,NaN,:,NaN,4.5,NaN,:,NaN,5.9,NaN
19,Denmark,:,NaN,:,NaN,23.9,NaN,:,NaN,15.2,NaN
20,Germany,:,NaN,:,NaN,10.6,NaN,:,NaN,11.6,NaN
21,Estonia,:,NaN,:,NaN,2.8,NaN,:,NaN,5.2,NaN
22,Ireland,:,NaN,:,NaN,7.9,NaN,:,NaN,8,NaN
23,Greece,:,NaN,:,NaN,2.6,NaN,:,NaN,4,NaN
24,Spain,:,NaN,:,NaN,7.7,NaN,:,NaN,9.2,NaN
25,France,:,NaN,:,NaN,6.7,NaN,:,NaN,5.9,b
26,Croatia,:,NaN,:,NaN,8.7,NaN,:,NaN,7.9,NaN
27,Italy,:,NaN,:,NaN,6.2,NaN,:,NaN,5,NaN
28,Cyprus,:,NaN,:,NaN,2.6,NaN,:,NaN,4.7,NaN
29,Latvia,:,NaN,:,NaN,3.7,NaN,:,NaN,4.5,NaN
30,Lithuania,:,NaN,:,NaN,4.5,NaN,:,NaN,4.9,NaN
31,Luxembourg,:,NaN,:,NaN,13,NaN,:,NaN,14.4,NaN
32,Hungary,:,NaN,:,NaN,3,NaN,:,NaN,3.7,NaN
33,Malta,:,NaN,:,NaN,10.2,NaN,:,NaN,13.2,NaN
34,Netherlands,:,NaN,:,NaN,13.1,NaN,:,NaN,13.4,NaN
35,Austria,:,NaN,:,NaN,8.8,NaN,:,NaN,10.8,NaN
36,Poland,:,NaN,:,NaN,2.9,NaN,:,NaN,3.7,NaN
37,Portugal,:,NaN,:,NaN,7.2,NaN,:,NaN,7.9,NaN
38,Romania,:,NaN,:,NaN,1.4,NaN,:,NaN,1.5,NaN
39,Slovenia,:,NaN,:,NaN,11.7,NaN,:,NaN,11.4,NaN
40,Slovakia,:,NaN,:,NaN,5.2,NaN,:,NaN,7,NaN
41,Finland,:,NaN,:,NaN,15.8,NaN,:,NaN,15.1,NaN
42,Sweden,:,NaN,:,NaN,9.9,NaN,:,NaN,10.4,b
43,Norway,:,NaN,:,NaN,10.8,NaN,:,NaN,9.2,NaN
44,United Kingdom,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
45,Bosnia and Herzegovina,:,NaN,:,NaN,2.1,NaN,:,NaN,5.3,NaN
46,Montenegro,:,NaN,:,NaN,3.3,NaN,:,NaN,5.6,NaN
47,North Macedonia,:,NaN,:,NaN,:,c,:,NaN,:,NaN
48,Albania,:,NaN,:,NaN,3.7,NaN,:,NaN,:,NaN
49,Serbia,:,NaN,:,NaN,0.9,NaN,:,NaN,1.8,NaN
50,Türkiye,:,NaN,:,NaN,2.7,NaN,:,NaN,5.5,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Available flags:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,b,break in time series,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,c,confidential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN