# Limpieza de archivos

In [19]:
import pandas as pd
import os

In [20]:
dfs = {}

dfs["df1"] = pd.read_csv(os.path.join('data','artificial-intelligence-granted-patents-by-industry.csv'))
dfs["df2"] = pd.read_csv(os.path.join('data','corporate-investment-in-artificial-intelligence-by-type.csv'))
dfs["df3"] = pd.read_csv(os.path.join('data','newly-funded-artificial-intelligence-companies.csv'))
dfs["df4"] = pd.read_csv(os.path.join('data','IA_impact_on_jobs.csv'))
dfs["df5"] = pd.read_excel(os.path.join('data','tech_layoffs.xlsx'))

# Codigos para confirmar limpiezas

In [24]:
# informaci√≥n
[[print(f"{i}:\n"), print(f"{j.info()}\n\n")] for i,j in dfs.items()]
# print retorna None es normal

df1:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 13 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Entity                                                                  352 non-null    object
 1   Code                                                                    352 non-null    object
 2   Year                                                                    352 non-null    int64
 3   Patent applications granted - Field: Banking and finance                352 non-null    int64
 4   Patent applications granted - Field: Industry and manufacturing         352 non-null    int64
 5   Patent applications granted - Field: Energy management                  352 non-null    int64
 6   Patent applications granted - Field: Physical sciences and engineering  352 non-null    int64
 7   Patent applications granted - Field: Security                           352 non-null    int64
 8   Patent applications granted - Field: Life sciences                      352 non-null    int64
 9   Patent applications granted - Field: Transportation                     352 non-null    int64
 10  Patent applications granted - Field: Business                           352 non-null    int64
 11  Patent applications granted - Field: Telecommunications                 352 non-null    int64
 12  Patent applications granted - Field: Personal devices and computing     352 non-null    int64
dtypes: int64(11), object(2)
memory usage: 35.9+ KB
None


df2:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Entity                             55 non-null     object
 1   Code                               0 non-null      float64
 2   Year                               55 non-null     int64
 3   Global corporate investment in AI  55 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.8+ KB
None


df3:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Entity                      44 non-null     object
 1   Code                        33 non-null     object
 2   Year                        44 non-null     int64
 3   Newly founded AI companies  44 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.5+ KB
None


df4:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4706 entries, 0 to 4705
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job titiles        4706 non-null   object
 1   AI Impact          4706 non-null   object
 2   Tasks              4706 non-null   int64
 3   AI models          4706 non-null   int64
 4   AI_Workload_Ratio  4706 non-null   float64
 5   Domain             4706 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 220.7+ KB
None


df5:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672 entries, 0 to 1671
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   #                            1672 non-null   int64
 1   Company                      1672 non-null   object
 2   Location_HQ                  1672 non-null   object
 3   Country                      1672 non-null   object
 4   Continent                    1672 non-null   object
 5   Laid_Off                     1565 non-null   float64
 6   Date_layoffs                 1672 non-null   datetime64[ns]
 7   Percentage                   1570 non-null   float64
 8   Company_Size_before_Layoffs  1511 non-null   float64
 9   Company_Size_after_layoffs   1536 non-null   float64
 10  Industry                     1672 non-null   object
 11  Stage                        1672 non-null   object
 12  Money_Raised_in_$_mil        1596 non-null   object
 13  Year                         1672 non-null   int64
 14  lat                          1672 non-null   float64
 15  lng                          1672 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(7)
memory usage: 209.1+ KB
None

[[None, None], [None, None], [None, None], [None, None], [None, None]]

In [22]:
# duplicados
[[print(f"{i}:"), print(f"{len(j[j.duplicated(keep=False)])}\n")] for i,j in dfs.items()]
# Lo mismo para este None

df1:
0

df2:
0

df3:
0

df4:
0

df5:
0

[[None, None], [None, None], [None, None], [None, None], [None, None]]

In [ ]:
# La limpieza clave que se hizo

In [5]:
dfs["df2"].drop(columns="Code", inplace=True)

In [6]:
dfs["df2"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Entity                             55 non-null     object
 1   Year                               55 non-null     int64
 2   Global corporate investment in AI  55 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.4+ KB

In [25]:
# Cargar el archivo Excel
# file_path = os.path.join('data','isoc_eb_ai$defaultview_spreadsheet.xlsx')
# excel_file = pd.ExcelFile(file_path)

# Obtener los nombres de las hojas
# print(excel_file.sheet_names)

In [ ]:
# El dataset Europeo

In [28]:
#df = pd.read_excel(file_path, sheet_name='Nombre_de_la_hoja')

# Para el dataset europeo
df6 = pd.read_excel('data/isoc_eb_ai$defaultview_spreadsheet.xlsx', sheet_name='Sheet 1')

C:\Users\agusp\Lib\site-packages\openpyxl\styles\stylesheet.py:241: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [27]:
df6

,Data extracted on 09/10/2024 03:00:35 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Dataset:,Artificial intelligence by size class of enter...,NaN,NaN,NaN
1,Last updated:,24/09/2024 11:00,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Annual,NaN,NaN
4,Size classes in number of persons employed,NaN,From 10 to 49 persons employed,NaN,NaN
5,Statistical classification of economic activit...,NaN,"All activities (except agriculture, forestry a...",NaN,NaN
6,Information society indicator,NaN,Enterprises use at least one of the AI technol...,NaN,NaN
7,Unit of measure,NaN,Percentage of enterprises,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
9,TIME,2021,NaN,2023,NaN
10,GEO (Labels),NaN,NaN,NaN,NaN
11,European Union - 27 countries (from 2020),6.1,NaN,6.4,NaN
12,"Euro area (EA11-1999, EA12-2001, EA13-2007, EA...",6.7,NaN,7.1,NaN
13,Belgium,8,NaN,10.6,NaN
14,Bulgaria,2.6,NaN,3,NaN
15,Czechia,2.7,NaN,4,NaN
16,Denmark,19.7,NaN,12.4,NaN
17,Germany,8.9,NaN,9.7,NaN
18,Estonia,1.8,NaN,4.1,NaN
19,Ireland,6.1,NaN,5.3,NaN
20,Greece,2,NaN,3.5,NaN
21,Spain,6.1,NaN,6.4,NaN
22,France,5,NaN,4.7,b
23,Croatia,8.1,NaN,7,NaN
24,Italy,5.3,NaN,4.4,NaN
25,Cyprus,1.9,NaN,3.7,NaN
26,Latvia,2.8,NaN,3.5,NaN
27,Lithuania,3.2,NaN,3.4,NaN
28,Luxembourg,11.5,NaN,12.3,NaN
29,Hungary,2.5,NaN,3,NaN
30,Malta,8.3,NaN,10.8,NaN
31,Netherlands,10.1,NaN,11,NaN
32,Austria,7.1,NaN,8.9,NaN
33,Poland,1.9,NaN,2.2,NaN
34,Portugal,5.3,NaN,5.8,NaN
35,Romania,1.1,NaN,1.1,NaN
36,Slovenia,9.4,NaN,8.9,NaN
37,Slovakia,4.1,NaN,6,NaN
38,Finland,12.4,NaN,11.5,NaN
39,Sweden,7.6,NaN,8.7,b
40,Norway,8.9,NaN,7.1,NaN
41,Bosnia and Herzegovina,1.9,NaN,5.5,NaN
42,Montenegro,3.7,NaN,4.8,NaN
43,North Macedonia,:,c,:,NaN
44,Albania,2.9,NaN,:,NaN
45,Serbia,0.2,NaN,1.7,NaN
46,T√ºrkiye,2.3,NaN,4.9,NaN
47,NaN,NaN,NaN,NaN,NaN
48,Special value,NaN,NaN,NaN,NaN
49,:,not available,NaN,NaN,NaN
50,Available flags:,NaN,NaN,NaN,NaN
51,b,break in time series,NaN,NaN,NaN
52,c,confidential,NaN,NaN,NaN

# An√°lisis de Roles Jer√°rquicos y Automatizaci√≥n por IA

## Contexto
Este notebook contin√∫a el an√°lisis del proyecto iniciado en `limpieza.ipynb`. 
Los datos utilizados ya han sido limpiados y procesados seg√∫n los criterios 
establecidos en el notebook de limpieza.

## Datos Utilizados
- `IA_impact_on_jobs.csv`: Impacto de IA en diferentes roles laborales
- `artificial-intelligence-granted-patents-by-industry.csv`: Patentes por sector
- agregar los que faltan

## Objetivo
Responder a la pregunta: "¬øPor qu√© ciertos roles o niveles jer√°rquicos dentro 
de las organizaciones parecen ser m√°s susceptibles a la automatizaci√≥n por IA, 
y c√≥mo esto est√° reconfigurando la estructura organizacional de las empresas?"

## Lo que se realizar√°
Este notebook analiza por qu√© ciertos roles jer√°rquicos son m√°s susceptibles 
a la automatizaci√≥n por IA y c√≥mo esto reconfigura la estructura organizacional.

In [ ]:
# Importaciones
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
# Datos ordenados
# Dataset 1: Impacto de IA en trabajos
df_impact = pd.read_csv('data/IA_impact_on_jobs.csv')

# Dataset 2: Patentes de IA por sector
df_patents = pd.read_csv('data/artificial-intelligence-granted-patents-by-industry.csv')

# Dataset 3: Inversi√≥n corporativa en IA
df_investment = pd.read_csv('data/corporate-investment-in-artificial-intelligence-by-type.csv')

# Dataset 4: Nuevas empresas de IA
df_companies = pd.read_csv('data/newly-funded-artificial-intelligence-companies.csv')

# Dataset 5: Despidos tecnol√≥gicos
df_layoffs = pd.read_excel('data/tech_layoffs.xlsx')

# Dataset 6: Datos de empresas europeas
df_eu = pd.read_excel('data/isoc_eb_ai$defaultview_spreadsheet.xlsx', sheet_name='Sheet 1')

C:\Users\agusp\Lib\site-packages\openpyxl\styles\stylesheet.py:241: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [37]:
# Verificaci√≥n inicial de datos
for name, df in {
    'Impacto IA': df_impact,
    'Patentes': df_patents,
    'Inversi√≥n': df_investment,
    'Empresas': df_companies,
    'Despidos': df_layoffs,
    'Europa': df_eu
}.items():
    print(f"\nDataset: {name}")
    print(f"Dimensiones: {df.shape}")
    print("Columnas:", df.columns.tolist())

# Forma ordenada de ver verificaci√≥n, intent√© copiarle la forma a la flo y algo de ia :D

Dataset: Impacto IA
Dimensiones: (4706, 6)
Columnas: ['Job titiles', 'AI Impact', 'Tasks', 'AI models', 'AI_Workload_Ratio', 'Domain']

Dataset: Patentes
Dimensiones: (352, 13)
Columnas: ['Entity', 'Code', 'Year', 'Patent applications granted - Field: Banking and finance', 'Patent applications granted - Field: Industry and manufacturing', 'Patent applications granted - Field: Energy management', 'Patent applications granted - Field: Physical sciences and engineering', 'Patent applications granted - Field: Security', 'Patent applications granted - Field: Life sciences', 'Patent applications granted - Field: Transportation', 'Patent applications granted - Field: Business', 'Patent applications granted - Field: Telecommunications', 'Patent applications granted - Field: Personal devices and computing']

Dataset: Inversi√≥n
Dimensiones: (55, 4)
Columnas: ['Entity', 'Code', 'Year', 'Global corporate investment in AI']

Dataset: Empresas
Dimensiones: (44, 4)
Columnas: ['Entity', 'Code', 'Year', 'Newly founded AI companies']

Dataset: Despidos
Dimensiones: (1672, 16)
Columnas: ['#', 'Company', 'Location_HQ', 'Country', 'Continent', 'Laid_Off', 'Date_layoffs', 'Percentage', 'Company_Size_before_Layoffs', 'Company_Size_after_layoffs', 'Industry', 'Stage', 'Money_Raised_in_$_mil', 'Year', 'lat', 'lng']

Dataset: Europa
Dimensiones: (53, 5)
Columnas: ['Data extracted on 09/10/2024 03:00:35 from [ESTAT]', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

In [34]:
print("An√°lisis para responder la pregunta de investigaci√≥n")

An√°lisis para responder la pregunta de investigaci√≥n

In [35]:
print("""
¬øPor qu√© ciertos roles o niveles jer√°rquicos dentro de las organizaciones parecen 
ser m√°s susceptibles a la automatizaci√≥n por IA, y c√≥mo esto est√° reconfigurando 
la estructura organizacional de las empresas?
""")

¬øPor qu√© ciertos roles o niveles jer√°rquicos dentro de las organizaciones parecen
ser m√°s susceptibles a la automatizaci√≥n por IA, y c√≥mo esto est√° reconfigurando
la estructura organizacional de las empresas?

## 1.1 An√°lisis por dominio y nivel jer√°rquico

## 1.2 An√°lisis de susceptibilidad a la automatizaci√≥n

## 1.3 An√°lisis de patrones en despidos tecnol√≥gicos

## 1.4 Correlaci√≥n con inversi√≥n en IA

## 1.5. Conclusiones